:root {
	--line-width: 1px;
	--text-color: #333;
	--color1: #738372;
	--color2: #4e937a;
	--color3: #b4656f;
	--color4: #948392;
	--color5: #5cb11b;
	--highlight-color: #c7f2a6;
	--content-area-width: min(80vw, 800px);
	--graph-area-width: min(80vw, 1000px);
	--year: calc(var(--graph-area-width) / 21);
	--tick: 3px;
	--graph-area-height: min(80vh, 1000px);
	--circle-diameter: 3vh;
	--circle-width: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
}
@media screen and (max-width: 420px) {
	html {
		font-size: 14px;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

* {
	outline: none;
}

h1 {
	text-align: left;
	font-size: 1.75rem;
	font-weight: 600;
	margin: 0.5em 0;
}

h2 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 3em 1em 0.5em;
}

h3 {
	font-size: 1.125rem;
	font-weight: 550;
	margin: 0.5em 1em 0.25em;
}

@media screen {
	.print-only {
		display: none !important;
	}
}

@page {
	size: A4 portrait;
	margin: 1cm;
}
@media print {
	.screen-only {
		display: none !important;
	}
	body {
		display: block;
	}
	body > * {
		margin-left: auto;
		margin-right: auto;
	}
	h1,
	h2,
	h3 {
		page-break-after: avoid;
	}

	h2 {
		margin: 1.5em 1em 0.5em;
	}

	.intro + h2 {
		margin-top: 0.5em;
	}

	.text-container,
	.columns-container,
	.container-history,
	.container-future {
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	.break-after {
		display: block;
		page-break-after: always;
		position: relative;
	}

	.break-before {
		display: block;
		page-break-before: always;
		position: relative;
	}
}

ul {
	margin: 0.5em 0;
	padding: 0 2em;
}

li,
p {
	margin-top: 0;
	margin-bottom: 0.25em;
}
li:last-child,
p:last-child {
	margin-bottom: 0;
}

.kw {
	display: inline-block;
	position: relative;
}
.kw::before {
	content: '';
	display: inline-block;
	position: absolute;
	z-index: -1;
	top: 0.1em;
	bottom: -0.05em;
	left: -0.2em;
	right: -0.1em;
	background-color: var(--highlight-color);
}
a {
	font-weight: 550;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

/* Intro */

.intro {
	width: var(--content-area-width);
	max-width: 40rem;
	display: grid;
	grid-template-columns: 2fr minmax(150px, 1fr);
	grid-gap: 1rem;
}
.intro > IMG {
	grid-row: span 2;
	margin-top: 1rem;
	width: 100%;
	min-width: 5rem;
	border-radius: 50%;
}
.contact-info > * {
	margin: 0 0 0.5em;
}
.address {
	display: flex;
}
.address a {
	min-width: 1rem;
	max-width: 2.25rem;
	margin-left: 0.75rem;
}
.address a img {
	width: 100%;
}
@media screen and (max-width: 600px) {
	.intro {
		grid-template-columns: minmax(40px, 1fr) 2fr;
	}
	.intro H1 {
		grid-column: span 2;
	}
	.intro IMG {
		grid-row: inherit;
		margin-top: 0;
	}
}

/* Text container */

.text-container {
	width: var(--content-area-width);
}

/* Links container */

.links-container {
	width: var(--content-area-width);
	text-align: center;
}
.links-container a {
	display: inline-block;
	margin: 0.5em 1.5em;
}

/* Columns */

.columns-container,
.row {
	display: flex;
	flex-flow: row wrap;
}
.columns-container {
	width: var(--content-area-width);
	justify-content: center;
}
.row {
	flex: 1 1 30em;
	justify-content: stretch;
}
.column {
	flex: 1 0 15em;
	margin-bottom: 1.5em;
}
.column h3 {
	margin: 0 0.5em 0.25em;
}
.column ul {
	margin: 0;
	padding: 0 2em;
}

/* History */

.container-history {
	width: var(--graph-area-width);
	position: relative;
	margin-bottom: 2em;
}

.time-axis {
	width: var(--graph-area-width);
	height: 4em;
	border-top: 1px solid var(--text-color);
	position: relative;
}
.time-axis span {
	transform: rotate(-90deg);
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: var(--year);
}

.epoch {
	position: absolute;
	top: 0;
	bottom: -2em;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-left: calc(var(--year) / 2);
}
.epoch label {
	height: 2em;
	display: flex;
	align-items: center;
}

.lines-container {
	padding: 0 0 0 calc(var(--year) / 2);
	width: var(--graph-area-width);
	box-sizing: border-box;
}

.line {
	position: relative;
	width: var(--graph-area-width);
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 80%;
	padding: 1.25em 0;
}

.linespacer {
	height: 1em;
}

.bar,
.spacer {
	box-sizing: border-box;
}

.bar label {
	position: absolute;
	bottom: 100%;
	white-space: nowrap;
	margin-bottom: 0.25em;
}

.bar {
	position: relative;
	overflow: visible;
	height: 0;
	border-style: solid;
}

.bar.t0 {
	border-width: var(--line-width);
	border-style: dashed;
}
.bar.t1 {
	border-width: var(--tick);
	border-radius: var(--tick);
}
.bar.t2 {
	border-width: calc(var(--tick) * 2);
	border-radius: calc(var(--tick) * 2);
}

.line.color1 .bar {
	color: var(--color1);
}
.line.color2 .bar {
	color: var(--color2);
}
.line.color3 .bar {
	color: var(--color3);
}
.line.color4 .bar {
	color: var(--color4);
}
.line.color5 .bar {
	color: var(--color5);
}

#time-cursor {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	border-left: var(--line-width) dashed var(--text-color);
	opacity: 0.8;
}

/* Present & Future */

.container-future {
	width: min(calc(var(--graph-area-height) * 1.5), var(--graph-area-width));
	height: var(--graph-area-height);
	position: relative;
	margin-bottom: 5vh;
}

.x-axis,
.y-axis {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	white-space: nowrap;
}
.x-axis {
	left: -5vh;
	right: 0;
	top: 100%;
	border-top: var(--line-width) solid;
	height: 2ex;
}
.x-axis:before {
	display: block;
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	border-left: var(--line-width) solid;
	border-top: var(--line-width) solid;
	transform: rotate(135deg);
	top: -0.54em;
	right: 0;
}
.y-axis {
	top: 0;
	bottom: -5vh;
	right: 100%;
	border-right: var(--line-width) solid;
	width: 2ex;
}
.y-axis label {
	transform: rotate(-90deg);
}
.y-axis:before {
	display: block;
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	border-left: var(--line-width) solid;
	border-top: var(--line-width) solid;
	transform: rotate(45deg);
	top: 0;
	right: -0.54em;
}

.tech {
	position: absolute;
	padding-left: calc(var(--circle-diameter) / 2);
}
.tech::before {
	display: block;
	content: '';
	position: absolute;
	top: calc(var(--circle-diameter) / 2 * -1);
	left: calc(var(--circle-diameter) / 2 * -1);
	border-radius: 50%;
	border: var(--circle-width) solid;
	width: var(--circle-diameter);
	height: var(--circle-diameter);
	transition: border-width 0.5s;
	box-sizing: border-box;
}
.tech .text {
	display: block;
	margin-left: 0.5em;
	margin-top: -1ex;
}
.tech .text .desc {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
	font-size: 80%;
	max-width: 0;
}
.tech:hover,
.tech:focus {
	z-index: 10;
}
.tech:hover::before,
.tech:focus::before {
	border-width: calc(var(--circle-width) * 3);
}
.tech:hover .text,
.tech:focus .text {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 1em #fff;
	max-width: none;
	width: 20em;
}
.tech:hover .text .desc,
.tech:focus .text .desc {
	max-height: 10em;
	max-width: none;
}

.tech.color1::before {
	color: var(--color1);
}
.tech.color2::before {
	color: var(--color2);
}
.tech.color3::before {
	color: var(--color3);
}
.tech.color4::before {
	color: var(--color4);
}
.tech.color5::before {
	color: var(--color5);
}

/* Footer */

.footer {
	position: relative;
	margin: 4.5rem auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: calc(var(--tick) * 1.5);
	border-radius: 50%;
}

.footer::before,
.footer::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	width: 4rem;
	border-top: 2px solid;
}
.footer::before {
	right: calc(50% + 1.5rem);
}
.footer::after {
	left: calc(50% + 1.5rem);
}

.footer-note {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 80%;
	text-align: center;
}
